<h1>iList <small>All sent e-mails</small></h1>
<div class="table-responsive">
    <table class="table" style="margin-top: 50px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>e-mail</tH>
                <th>Title</th>
                <th>Content</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% @every_post.each do |p| %>
            <tr>
                <th><%= p.id %></th>
                <td><%= p.email %></td>
                <td><%= p.title %></td>
                <td><%= p.content %></td>
                <td><%= p.created_at.in_time_zone("Asia/Seoul") %></td>
                <td><button type="button" class="btn btn-info-outline"><a href="/update_prompt/<%= p.id %>">Modify</a></button></td>
                <td><button type="button" class="btn btn-info-outline"><a href="/destroy/<%= p.id %>">Delete</a></button></td>
            </tr>
            <% end %>
        </tbody>
    </table>   
</div>
<button type="button" class="btn btn btn-warning" style="position: relative; margin-top: 85px; float:right;"><a href="/">Back to First Screen</a></button>
